In [1]:
from model import WolfSheep
import random
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
model =WolfSheep()
steps = 10 
for i in range(steps):
    model.step()

In [4]:
df = model.datacollector.get_model_vars_dataframe()

In [5]:
df

    Wolves  Sheep  Grass
0       50    100      0
1       50     96      0
2       55     88      0
3       56     78      0
4       56     74      0
5       55     72      0
6       55     69      0
7       57     72      0
8       58     69      0
9       59     64      0
10      58     59      0